<div class="row mb-3">
    <div class="col-12 col-lg-10 offset-lg-1">
        <div class="card">
            <!-- Table Header start -->
            <div class="card-header fs-3">
                <b>Categories</b>
            </div>
            <!-- Table Header end-->

            <!-- Quick Links start-->
            <div class="card-body d-sm-flex justify-content-md-start align-items-baseline py-0">
                <span class="fw-bold me-3 d-none d-md-block">Quick Links:</span>
                <span>
                    <ul
                        class="nav d-flex flex-sm-row flex-column align-items-center align-items-sm-baseline mb-1 mb-sm-0">
                        <li class="nav-item fw-bold">
                            <a href="/transactions/new" class="nav-link">Log
                                Transaction </a>
                        </li>
                        <li class="nav-item fw-bold">
                            <a href="/budgets/<%=budget._id%>/edit" class="nav-link">Edit
                                Budget</a>
                        </li>
                        <li class="nav-item fw-bold">
                            <%- include('../modals/newCategoryModal.ejs') %>
                        </li>
                    </ul>
                </span>
            </div>

            <!-- Quick Links end-->

            <!-- Category list items start-->
            <ul class="list-group list-group-flush">
                <% for(let b of budget.categories) {%>
                <% if(b.amount > 0 || categorySpentTracker.includes(b.category._id)) {%>
                <li class="list-group-item fs-5" id="<%=b.category.title%>">
                    <div class="d-flex justify-content-between cat-tracker">

                        <!-- Title -->
                        <p>
                            <%= b.category.title %>
                        </p>
                        <% for(let c of progress.categories) {%>
                        <% if(c.category === b.category.title) {%>

                        <!-- calculates percent of budget category that has been spent -->
                        <% if(b.amount > 0) {%>
                        <p class="percent-complete hide"> <%= c.percent %>% </p>
                        <% } else { %>
                        <p class="percent-complete hide"> 101% </p>
                        <% } %>
                        <!-- Displays how much has been spent -->
                        <p class="test">$<%= c.spent %> of $<%= b.amount %> </p>


                        <% } %>
                        <% } %>


                        <% if(!progressCategories.includes(b.category.title)) {%>
                        <!-- If no transactions have been logged for category, displays $0 out of total -->
                        <p>$0 of $<%= b.amount %> </p>
                        <p class="percent-complete hide">0%</p>
                        <% } %>


                    </div>

                    <!-- Displays progress bar for visual of % complete -->
                    <div class="prog-bar"></div>


                </li>
                <% } %>
                <% } %>
            </ul>
            <!-- Category list items -->

        </div>
    </div>
</div>