<!-- Button trigger modal -->
<i type="button" class="bi-caret-down-fill" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
</i>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Filter Budget Period</h5>
                <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/dashboard">
                    <div class="mb-3">
                        <% if(budgetPeriod.month) {%>
                        <select class="form-select" name="month" id="budgetMonth">
                            <option value="0" <%=parseInt(budgetPeriod.month) === 0 ? 'selected' : ''%>>Jan</option>
                            <option value="1" <%=parseInt(budgetPeriod.month) === 1 ? 'selected' : ''%>>Feb</option>
                            <option value="2" <%=parseInt(budgetPeriod.month) === 2 ? 'selected' : ''%>>Mar</option>
                            <option value="3" <%=parseInt(budgetPeriod.month) === 3 ? 'selected' : ''%>>Apr</option>
                            <option value="4" <%=parseInt(budgetPeriod.month) === 4 ? 'selected' : ''%>>May</option>
                            <option value="5" <%=parseInt(budgetPeriod.month) === 5 ? 'selected' : ''%>>June</option>
                            <option value="6" <%=parseInt(budgetPeriod.month) === 6 ? 'selected' : ''%>>July</option>
                            <option value="7" <%=parseInt(budgetPeriod.month) === 7 ? 'selected' : ''%>>Aug</option>
                            <option value="8" <%=parseInt(budgetPeriod.month) === 8 ? 'selected' : ''%>>Sept</option>
                            <option value="9" <%=parseInt(budgetPeriod.month) === 9 ? 'selected' : ''%>>Oct</option>
                            <option value="10" <%=parseInt(budgetPeriod.month) === 10 ? 'selected' : ''%>>Nov</option>
                            <option value="11" <%=parseInt(budgetPeriod.month) === 11 ? 'selected' : ''%>>Dec</option>
                        </select>
                        <% } else { %>
                        <select class="form-select" name="month" id="budgetMonth">
                            <option value="0" <%=date.getMonth() === 0 ? 'selected' : ''%>>Jan</option>
                            <option value="1" <%=date.getMonth() === 1 ? 'selected' : ''%>>Feb</option>
                            <option value="2" <%=date.getMonth() === 2 ? 'selected' : ''%>>Mar</option>
                            <option value="3" <%=date.getMonth() === 3 ? 'selected' : ''%>>Apr</option>
                            <option value="4" <%=date.getMonth() === 4 ? 'selected' : ''%>>May</option>
                            <option value="5" <%=date.getMonth() === 5 ? 'selected' : ''%>>June</option>
                            <option value="6" <%=date.getMonth() === 6 ? 'selected' : ''%>>July</option>
                            <option value="7" <%=date.getMonth() === 7 ? 'selected' : ''%>>Aug</option>
                            <option value="8" <%=date.getMonth() === 8 ? 'selected' : ''%>>Sept</option>
                            <option value="9" <%=date.getMonth() === 9 ? 'selected' : ''%>>Oct</option>
                            <option value="10" <%=date.getMonth() === 10 ? 'selected' : ''%>>Nov</option>
                            <option value="11" <%=date.getMonth() === 11 ? 'selected' : ''%>>Dec</option>
                        </select>
                        <% } %>
                    </div>
                    <div class="mb-3">
                        <select class="form-select" name="year" id="year">
                            <% for(let i = 2015; i <= date.getFullYear(); i++) {%> <option value="<%=i%>"
                                <%= budget.month.getFullYear() === i ? 'selected' : '' %>><%= i %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class='text-start'>
                        <button class="btn btn-sm btn-success">Filter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>