<% layout('layouts/boilerplate') %>
<div class="col-md-6 offset-md-3">
    <h1 class="d-inline"><%= category.title %> </h1>
    <form action="/categories/<%=category._id%>?_method=PUT" class="needs-validation" id="edit-category" method="POST"
        novalidate>
        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" value="<%=category.title%>" name="category[title]" id="title" class="form-control"
                required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please name your category.
            </div>
        </div>
        <div class="mb-3">
            <label for="fixed">Is this cost fixed or flexible?</label>
            <select class="form-select" name="category[fixed]" id="fixed" aria-label="Fixed or flexible?" required>
                <option selected disabled value=''>--Select Fixed or Flexible--</option>
                <option <%= category.fixed === true ? 'selected' : '' %> value="true">Fixed</option>
                <option <%= category.fixed === false ? 'selected' : '' %> value="false">Flexible</option>
            </select>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please select fixed or flexible.
            </div>
        </div>
        <div class="mb-3 <%=!parseInt(category.payDate) ? "hide" : ''%>" id="pay-date">
            <label for="date-select">Day of Month?</label>
            <select name="category[payDate]" class="form-select" id="date-select">
                <option value="" selected>--Select Pay Date--</option>
                <% for(let i = 1; i <= 30; i++) {%>
                <option value="<%=i%>" <%=parseInt(category.payDate) === i ? 'selected' : ''%>><%= i %> </option>
                <% } %>
            </select>
        </div>
        <div id="cancel" class="mb-3 <%= category.fixed === false ? "hide" : ""%>">
            <input class="form-check-input" name="category[canEnd]" type="checkbox" value="true" id="canEnd"
                <%=category.canEnd ? 'checked' : ''  %>>
            <label class=" form-check-label" for="canEnd">I can cancel this</label>
        </div>
    </form>
    <button type="button" class="btn btn-success btn-sm d-inline" id="confirm">Update</button>
    <form action="/categories/<%=category._id%>?_method=DELETE" class="d-inline" method="POST">
        <button class="btn btn-sm btn-danger">Delete</button>
    </form>
</div>

<script>
    const fixed = document.querySelector("#fixed")
    const cancel = document.querySelector("#cancel")
    const payDate = document.querySelector("#pay-date")
    fixed.addEventListener('change', (event) => {
        if (fixed.value === "true") {
            cancel.classList.remove('hide')
            payDate.classList.remove('hide')
        } else {
            cancel.classList.add('hide')
            payDate.classList.add('hide')
        }
    })

    document.querySelector('#confirm').addEventListener('click', (e) => {
        document.querySelector('#edit-category').submit()
    })
</script>