<% layout('layouts/boilerplate') %>
<div class="col-md-8 offset-md-2 mb-3 col-sm-10 offset-sm-1">
    <h1>HERE ARE YOUR BUDGET CATEGORIES</h1>
    <%- include('../partials/modals/newCategoryModal.ejs') %>
</div>
<div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1 d-flex flex-wrap">
    <% for(let category of categories) {%>
    <% if(category.user) {%>
    <% if(category.user.equals(currentUser._id)) {%>
    <div class="mb-3 d-inline-block me-4" style="width: 30%;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><%= category.title %> </h5>
            </div>
            <ul class="list-group list-group-flush">
                <% if(category.fixed) {%>
                <li class="list-group-item"><strong>Fixed -
                        <span class="due-date"><%= category.payDate %></span></strong>
                </li>
                <% } else {%>
                <li class="list-group-item"><strong>Flexible</strong></li>
                <% } %>
            </ul>
            <div class="card-body">
                <a href="/categories/<%=category._id%>/edit" class="btn btn-sm btn-secondary"">Edit</a>
                <form class=" d-inline" action=" /categories/<%=category._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
            </div>
        </div>
    </div>
    <% } %>
    <% } %>
    <% } %>
</div>