<% layout('layouts/boilerplate') %>
<div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1 mb-3">
    <div class="container">
        <div class="row g-0 mb-3">
            <div class="col-3 offset-1 fs-4 border border-2 border-end-0 bg-light">
                <p class="ms-2 my-0">Category</p>
            </div>
            <div class="col-3 fs-4 border border-2 border-end-0 bg-light">
                <p class="ms-2 my-0">Type</p>
            </div>
            <div class="col-3 fs-4 border border-2 bg-light">
                <p class="ms-2 my-0">Pay Date</p>
            </div>
            <div class="col-2"></div>
            <% for(let category of categories) {%>
            <% if(category.user.equals(currentUser._id)) {%>

            <div class="col-3 offset-1 border border-2 border-end-0 border-top-0 alt table-alt">
                <p class="ms-2 my-1"><%= category.title %> </p>
            </div>
            <div class="col-3 border border-2 border-end-0 border-top-0 alt table-alt">
                <p class="ms-2 my-1"><%= category.fixed ? "Fixed" : "Flexible" %> </p>
            </div>
            <div class="col-3 border border-2 border-top-0 alt table-alt">
                <p class="ms-2 my-1"><%= parseInt(category.payDate) ? category.payDate : '-' %> </p>
            </div>
            <div class="col-2">
                <a class="ms-2 my-1 bi-pencil-square" href="categories/<%=category._id%>/edit"
                    class="btn btn-sm btn-secondary"></a>
            </div>
            <% } %>
            <% } %>
        </div>
        <div class="col-10 offset-1">
            <%- include('../partials/modals/newCategoryModal') %>
        </div>
    </div>
</div>

<script>
    let cells = [...document.querySelectorAll('.alt')]
    altRows = []
    for (let i = 0; i < cells.length; i++) {
        if (cells.indexOf(cells[i]) % 6 === 0) {
            row = cells.slice(i, i + 3)
            altRows.push(row)
        }
    }
    const alternate = () => {
        for (let row of altRows) {
            for (let cell of row) {
                cell.classList.remove('table-alt')
            }
        }
    }

    alternate()
</script>