<% layout('layouts/boilerplate') %>
<div class="col-md-8 offset-md-2 mb-3 col-sm-10 offset-sm-1">
    <h1>HERE ARE YOUR BUDGET CATEGORIES</h1>
    <%- include('../partials/newCategoryModal.ejs') %>
</div>
<div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
    <% for(let category of categories) {%>
    <div class="mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><%= category.title %> </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Budgeted Amount: $<%= category.amount %> </li>
                <% if(category.fixed) {%>
                <li class="list-group-item"><strong>Fixed</strong></li>
                <% } else {%>
                <li class="list-group-item"><strong>Flexible</strong></li>
                <% } %>
            </ul>
            <div class="card-body">
                <a href="/categories/<%=category._id%>/edit" class="btn btn-sm btn-secondary"">Edit</a>
                <form class=" d-inline" action=" /categories/<%=category._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
            </div>
        </div>
    </div>
    <% } %>
</div>