<!-- Edit form start -->
<form action="/budgets/<%=budget._id%>" class="row" method="POST" id="edit-budget">

    <!-- Choose budget period month start-->
    <div class="mb-3 col-lg-2" id="select-month">
        <label class="form-label" for="month">Month</label>
        <select class="form-select" name="month" id="month">
            <option value="" selected>All</option>
            <option value="1" <%= budget.month.getMonth() + 1 === 1 ? 'selected' : ''%>>Jan</option>
            <option value="2" <%= budget.month.getMonth() + 1 === 2 ? 'selected' : ''%>>Feb</option>
            <option value="3" <%= budget.month.getMonth() + 1 === 3 ? 'selected' : ''%>>Mar</option>
            <option value="4" <%= budget.month.getMonth() + 1 === 4 ? 'selected' : ''%>>Apr</option>
            <option value="5" <%= budget.month.getMonth() + 1 === 5 ? 'selected' : ''%>>May</option>
            <option value="6" <%= budget.month.getMonth() + 1 === 6 ? 'selected' : ''%>>June</option>
            <option value="7" <%= budget.month.getMonth() + 1 === 7 ? 'selected' : ''%>>July</option>
            <option value="8" <%= budget.month.getMonth() + 1 === 8 ? 'selected' : ''%>>Aug</option>
            <option value="9" <%= budget.month.getMonth() + 1 === 9 ? 'selected' : ''%>>Sept</option>
            <option value="10" <%= budget.month.getMonth() + 1 === 10 ? 'selected' : ''%>>Oct</option>
            <option value="11" <%= budget.month.getMonth() + 1 === 11 ? 'selected' : ''%>>Nov</option>
            <option value="12" <%= budget.month.getMonth() + 1 === 12 ? 'selected' : ''%>>Dec</option>
        </select>
    </div>


    <!-- Choose budget period year start-->
    <div class="mb-3 col-lg-2" id="select-year">
        <label class="form-label" for="year">Year</label>
        <select class="form-select" name="year" id="year">
            <% for(let i = 2015; i <= new Date().getFullYear(); i++) {%>
            <option value="<%=i%>" <%= budget.month.getFullYear() === i ? 'selected': ''%>><%= i %></option>
            <% } %>
            <% if(budget.month.getMonth() === 11) {%>
            <option value="<%=new Date().getFullYear()%>"><%= new Date().getFullYear() %> </option>
            <% } %>
        </select>
    </div>
    <!-- Choose budget period month end-->

    <!-- Enter total income or amount budgeted for budget period start-->
    <div class="mb-3 col-lg-2" id="income">
        <label class="form-label" for="amount">Total Income:</label>
        <div class="input-group">
            <span class="input-group-text">$</span>
            <input class="form-control" type="number" value="<%=budget.amount%>" name="amount" id="amount">
        </div>
    </div>
    <!-- Enter total income or amount budgeted for budget period end-->

    <!-- Enter budget amounts for categories for budget period start-->
    <div class="row mb-3" id="set-budget-amounts">
        <% for(let c of budget.categories) {%>
        <div class="col-12 col-sm-6 col-lg-3 d-flex justify-content-between align-items-baseline mb-1">
            <label for="<%=c.category.title%>" class="form-label"><%=c.category.title%>:</label>
            <input class="hide" type="text" name="categories[category]" value="<%=c.category._id%>">
            <div class="input-group w-50">
                <span class="input-group-text">$</span>
                <input type="number" name="categories[amount]" id="<%=c.category.title%>" value="<%=c.amount%>"
                    class="form-control py-1">
            </div>
        </div>
        <div class="col-10"></div>
        <% } %>
    </div>
    <!-- Enter budget amounts for categories for budget period start-->

    <!-- Submit Button Start -->
    <div class="mb-3">
        <button class="btn btn-success">Update</button>
    </div>
    <!-- Submit button End -->


</form>
<!-- Form End -->