<% layout('layouts/boilerplate') %>
<div class="row mb-3">
    <%if(!budget._id) { %>
    <div class="col-4 offset-1">
        <h1>Welcome to your Dashboard</h1>
    </div>
    <% } else {%>
    <div class="col-4 offset-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Budget Breakdown</h5>
                <p class="card-text text-success text-end fs-1 d-flex justify-content-between">
                    <span class="card-text text-dark">Total Cash:</span>
                    <span>$<%= budget.amount %></span>
                </p>
                <p class="card-text text-end text-danger fs-1 d-flex justify-content-between">
                    <span class="card-text text-dark">Budgeted:</span>
                    <span>$<%= expenses %> </span>
                </p>
                <p class="card-text text-end text-danger fs-1 d-flex justify-content-between">
                    <span class="card-text text-dark">Spent:</span>
                    <span>$<%= spent %> </span>
                </p>
                <div>
                    <a href=" /transactions/new" class="card-link">Log Transactions</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    <% if (!budget._id || budget.month.getMonth() !== date.getMonth()) {%>
    <div class="col-4 offset-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">SET BUDGET FOR
                    <%= months[date.getMonth()] %> <%= date.getFullYear() %> </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="/budgets/new" class="btn btn-success">Set Budget!</a>
            </div>
        </div>
    </div>
    <% } else {%>
    <div class="col-4 offset-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Remaining cash for <%= months[budget.month.getMonth()] %> </h5>
                <p class="card-text fs-1 <%=budget.amount - spent >= 0 ? 'text-success' : 'text-danger'%>">
                    $<%= budget.amount - spent %> </p>
                <p class="card-text d-flex justify-content-between">
                    <span class="card-text text-dark fs-5">Fixed Expenses Remaining:
                    </span>
                    <span class="fs-5 <%=fixedTotal >= 0 ? 'text-success' : 'text-danger'%>">
                        $<%= fixedTotal %>
                    </span>
                </p>
                <p class="card-text d-flex justify-content-between">
                    <span class="card-text text-dark fs-5">Flexible Expenses Remaining:
                    </span>
                    <span class="fs-5 <%=flexTotal >= 0 ? 'text-success' : 'text-danger'%>">
                        $<%= flexTotal %>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <% } %>
</div>
<% if(budget.categories) {%>
<div class="row mb-3">
    <div class="offset-1 col-6">
        <div class="card">
            <div class="card-header">
                Tracking
            </div>
            <ul class="list-group list-group-flush">

                <% for(let b of budget.categories) {%>
                <li class="list-group-item fs-4" id="<%=b.category.title%>">
                    <div class="d-flex justify-content-between cat-tracker">
                        <p>
                            <%= b.category.title %>
                        </p>
                        <% for(let c of progress.categories) {%>
                        <% if(c.category === b.category.title) {%>
                        <p class="percent-complete"> <%= c.percent %>% </p>
                        <% } %>
                        <% } %>
                    </div>
                    <% for(let c of progress.categories) {%>
                    <% if(c.category === b.category.title) {%>
                    <div class="card-header">
                        <div class="text-center">
                            <p>$<%= c.spent %> of $<%= b.amount %> </p>
                        </div>
                    </div>
                    <% } %>
                    <% } %>
                    <div class="prog-bar"></div>
                </li>

                <% } %>
            </ul>
        </div>
    </div>
</div>
<% } %>

<script>
    let category = document.querySelectorAll('.cat-tracker')
    let progressBar = document.querySelectorAll('.prog-bar')
    for (let c of category) {
        if (!c.children[1]) {
            let p = document.createElement('p')
            p.innerText = '0%'
            p.classList.add('percent-complete')
            c.appendChild(p)
        }
    }

    let progress = document.querySelectorAll('.percent-complete')

    for (let i = 0; i < category.length; i++) {
        w = parseInt(progress[i].innerText)
        progressBar[i].setAttribute('style', `background-image: linear-gradient(90deg, green ${w}%, white ${w}%)!important`)
        if (w >= 100) {
            progressBar[i].style.width = `100%`
            progressBar[i].setAttribute('style', `background-image: linear-gradient(90deg, red 100%, red 100%)!important`)
        }
    }
</script>