<% layout('layouts/boilerplate') %>
<% if(budget._id) {%>
<h1 class="text-center mb-5">
    <b><%= months[budget.month.getMonth()] %> <%= budget.month.getFullYear() %></b> <span
        class="fs-3"><%- include('../partials/modals/dashFilter') %></span>
</h1>
<% } %>
<div class="row mb-5 d-flex justify-content-center">
    <%if(!budget._id) { %>
    <div class="col-4">
        <h1>Welcome to your Dashboard</h1>
    </div>
    <% } else {%>
    <div class="col-3">
        <div>
            <p class="card-text text-end fs-4 d-flex justify-content-between"> <span
                    class="card-text text-dark"><b>Total
                        Income:</b></span>
                <span>$<%= budget.amount %></span>
            </p>
            <p class="card-text text-end fs-4 d-flex justify-content-between">
                <span class="card-text text-dark"><b>Budgeted:</b></span>
                <span>$<%= expenses %> </span>
            </p>
            <hr>
            <p
                class="card-text text-end <%= budget.amount - expenses >= 0 ? "text-success" : "text-danger" %> fs-4 d-flex justify-content-between">
                <span class="card-text text-dark"><b>Leftover:</b></span>
                <span>$<%= budget.amount - expenses %> </span>
            </p>
        </div>
    </div>
    <div class=" col-1 d-flex justify-content-center">
        <div class="divider h-100"></div>
    </div>
    <% } %>
    <% if (!budget._id || !budget.month.getMonth()) {%>
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Set budget for
                    <%= months[date.getMonth()] %> <%= date.getFullYear() %> </h5>
                <p class="card-text">Click Below to get started!</p>
                <a href="/budgets/new" class="btn btn-success">Set Budget!</a>
            </div>
        </div>
    </div>
    <% } else {%>
    <div class="col-3">
        <div>
            <p class="card-text text-end fs-4 d-flex justify-content-between">
                <span class="card-text text-dark"><b>Spent:</b></span>
                <span>$<%= spent %> </span>
            </p>
            <p class="card-text text-end fs-4 d-flex justify-content-between">
                <span class="card-text text-dark"><b>Scheduled Out:</b></span>
                <span>
                    $<%= fixedTotal + flexTotal %>
                </span>
            </p>
            <hr>
            <p class="card-text d-flex justify-content-between fs-6 mb-0">
                <span class="card-text text-dark"><a class="text-decoration-none"
                        href="/budgets/<%=budget._id%>/fixed">Fixed
                        Remaining</a>:
                </span>
                <span class="<%=fixedTotal >= 0 ? 'text-success' : 'text-danger'%>">
                    $<%= fixedTotal %>
                </span>
            </p>
            <p class="card-text d-flex justify-content-between fs-6">
                <span class="card-text text-dark"><a class="text-decoration-none"
                        href="/budgets/<%=budget._id%>/flex">Flex Remaining</a>:
                </span>
                <span class="<%=flexTotal >= 0 ? 'text-success' : 'text-danger'%>">
                    $<%= flexTotal %>
                </span>
            </p>
        </div>
    </div>
    <% } %>
</div>

<!-- Loads budget tracking table -->
<%- include('../partials/dashboard/spendingTracker.ejs') %>


<script src="/scripts/progressBar.js">
</script>