<!-- Hidden form to change budgeted amount for flexible categories -->

<div class="hide amount">
    <form action="/budgets/<%=budget._id%>?_method=PATCH" method="POST" class="amount-form d-flex">
        <% for(let cat of budget.categories) {%>
        <% if(!cat.category.fixed) {%>



        <!-- Submits category id. This part stays hidden. Start. -->
        <input class="hide" type="text" name="categories[category]" value="<%=cat.category._id%>">


        <div class="input-group py-0 my-1 px-1 w-75 hide">
            <span class="input-group-text d-none d-sm-block">$</span>
            <input type="number" class="form-control" name="categories[amount]" id="amount" value="<%=cat.amount%>">
        </div>
        <button class="btn bi-check-lg confirm-change w-25 hide"></button>
        <!-- Category id input end -->


        <% } %>
        <% } %>
        <% for(let cat of budget.categories) {%>
        <% if(cat.category.fixed) {%>

        <!-- Input for new budgeted amount start -->
        <input class="hide" type="text" name="categories[category]" value="<%=cat.category._id%>">
        <input type="number" class="hide ms-2 py-1 w-50" name="categories[amount]" id="amount" value="<%=cat.amount%>">
        <button class="hide btn btn-sm btn-success">Confirm</button>
        <!-- Input for new budgeted amount end
        
        -->
        <% } %>
        <% } %>
    </form>
</div>