<form action="/transactions/<%=transaction._id%>?_method=PUT" id="edit-form" class="needs-validation" method="post"
    novalidate>

    <!-- Transaction date -->
    <div class="mb-3">
        <label for="datepicker">Date:</label>
        <input type="text" name="transaction[date]" class="form-control" id="datepicker" value="<%=transaction.date %>"
            required>
    </div>

    <!-- Transaction category (only gets categories associated with the user)-->
    <div class=" mb-3">
        <label for="category">Category:</label>
        <select class="form-select" name="transaction[category]" id="category" aria-label="Pick a category">
            <% for(let category of categories) {%>
            <% if(category.user.equals(currentUser._id)) {%>
            <option value="<%=category._id%>"
                <%= category._id.toString() === transaction.category.toString() ? 'selected' : '' %>>
                <%= category.title %></option>
            <% } %>
            <% } %>
        </select>
    </div>

    <!-- Transaction amount -->
    <div class="mb-3">
        <label for="amount">Total:</label>
        <input type="number" class="form-control" name="transaction[amount]" value="<%=transaction.amount%>" id="amount"
            required>
    </div>

    <!-- Add any description to the transactions -->
    <div class="mb-3">
        <label for="notes">Description:</label>
        <textarea class="form-control" name="transaction[note]" id="notes" rows="3"
            class="d-block"><%= transaction.note %> </textarea>
    </div>
</form>

<!-- Submit form button -->
<button type="button" id="confirm" class="btn btn-sm btn-success d-inline">Update</button>


<!-- Delete Transaction button -->
<form action="/transactions/<%=transaction._id%>?_method=DELETE" class="d-inline" method="POST">
    <button class="btn btn-danger btn-sm">Delete</button>
</form>