<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-md-6 offset-md-3 mb-3">
        <div>
            <h1>HERE ARE YOUR TRANSACTIONS</h1>
            <a href="/transactions/new">Add Transaction</a>
        </div>
        <div>
            <ul class="list-group">
                <% for(let t of transactions) {%>
                <li class="list-group-item d-flex justify-content-between">
                    <p>
                        <%= t.category %>: $<%= t.amount %> ---
                        <strong><%= t.date.getMonth() + 1%>/<%= t.date.getDate() %></strong>
                    </p>
                    <span>
                        <a href="/transactions/<%= t._id %>">Details</a>
                        <form class="d-inline" action="/transactions/<%=t._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </span>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</div>