<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-md-6 offset-md-3 mb-3">
        <div class="mb-3">
            <div class="mb-3">
                <h1>HERE ARE YOUR TRANSACTIONS</h1>
                <a href="/transactions/new">Add Transaction</a>
            </div>
            <div class="form-floating mb-3">
                <select class="form-select" name="category" id="category">
                    <option value="" selected>All</option>
                    <% for(let c of categories) {%>
                    <option value="<%=c.title%>"><%= c.title %></option>
                    <% } %>
                </select>
                <label for="category">Category</label>
            </div>
            <div class="form-floating">
                <label for="date"></label>
                <select class="form-select" name="date" id="date">
                    <option value="" selected>All</option>
                    <option value="1">Jan</option>
                    <option value="2">Feb</option>
                    <option value="3">Mar</option>
                    <option value="4">Apr</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">Aug</option>
                    <option value="9">Sept</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>
                </select>
                <label for="date">Month</label>
            </div>
        </div>
        <div>
            <ul class="list-group" id="trs">
                <% for(let t of transactions) {%>
                <li class="list-group-item d-flex justify-content-between" value="<%=t.category%>">
                    <p>
                        <%= t.category %>: $<%= t.amount %> ---
                    </p>
                    <p class="align-self-start">
                        <strong><%= t.date.getMonth() + 1%>/<%= t.date.getDate() %></strong>
                    </p>
                    <span>
                        <a href="/transactions/<%= t._id %>">Details</a>
                        <form class="d-inline" action="/transactions/<%=t._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </span>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</div>

<script src="/scripts/transactionFilter.js"></script>