<% layout('layouts/boilerplate') %>
<h1>Fixed Expenses for <%= months[budget.month.getMonth()] %> <%= budget.month.getFullYear() %> </h1>
<div id="fixed-items">
    <% for(let c of budget.categories) {%>
    <% if(c.category.fixed) {%>
    <p><%= c.category.title %>: $<%= c.amount %> --- <%=months[budget.month.getMonth()]%>
        <%= c.category.payDate %></p>
    <% } %>
    <% } %>
    <button class="btn btn-sm btn-primary" type="button" id="show-edit">Edit</button>
</div>
<div id="edit-form" class="hide">
    <form action="/budgets/<%=budget._id%>?_method=PATCH" method="POST">
        <div class="row"></div>
        <% for(let c of budget.categories) {%>
        <div
            class="<%=c.category.fixed ? 'd-flex': ''%> justify-content-between col-2 align-items-baseline <%=!c.category.fixed ? 'hide': ''%>">
            <label for="<%=c.category.title%>"> <%= c.category.title %>: </label>
            <input class="hide" type="text" name="categories[category]" value="<%=c.category._id%>">
            <input class="form-control w-50" type="number" name="categories[amount]" id="<%=c.category.title%>"
                value="<%=c.amount%>">
            </input>
        </div>
        <div class="col-10"></div>
        <% } %>
        <input type="text" name="isFixed" id="isFixed" class="hide" value="true">
        <button class='btn btn-sm btn-success d-inline mt-3'>Confirm</button>
        <button class='btn btn-sm btn-danger d-inline mt-3' type="button" id="cancel">Cancel</button>
    </form>
</div>


<script>

    const fixedItems = document.querySelector('#fixed-items')
    const editForm = document.querySelector('#edit-form')
    const showEdit = document.querySelector('#show-edit')
    const cancel = document.querySelector('#cancel')

    showEdit.addEventListener('click', (e) => {
        fixedItems.classList.toggle('hide')
        editForm.classList.toggle('hide')
    })

    cancel.addEventListener('click', (e) => {
        fixedItems.classList.toggle('hide')
        editForm.classList.toggle('hide')
    })

</script>