<% layout('layouts/boilerplate') %>
<h1><%= months[budget.month.getMonth()] %> Budget: $<%= budget.amount %> </h1>
<h2>Breakdown:</h2>
<% for(let obj of budget.categories) {%>
<div class="mb-3">
    <p><%= obj.category.title %> : $<%= obj.amount %> </p>
</div>
<% } %>
<div class="mb-3">
    <a href="/budgets/<%=budget._id%>/edit" class="btn btn-sm btn-primary">Edit</a>
    <form action="/budgets/<%=budget._id%>?_method=DELETE" method="POST" class="d-inline">
        <button class="btn btn-sm btn-danger">Delete</button>
    </form>
</div>