<% layout('layouts/boilerplate') %>
<h1><%= months[budget.month.getMonth()] %> Budget: $<%= budget.amount %> </h1>
<div class="container mb-3">
    <div class="row">
        <div class="col-2 border border-2 border-end-0 bg-light">
            <p class="ms-2 my-1 fs-5">Category</p>
        </div>
        <div class="col-2 border border-2 bg-light">
            <p class="ms-2 my-1 fs-5">Amount </p>
        </div>
        <div class="col-8"></div>
        <% for(let c of budget.categories) {%>
        <div class="col-2 border border-2 border-end-0 border-top-0 alt table-alt">
            <p class="ms-2 my-0"><%= c.category.title %> </p>
        </div>
        <div class="col-2 border border-2 border-top-0 alt table-alt">
            <p class="ms-2 my-0">$<%= c.amount %> </p>
        </div>
        <div class="col-8"></div>
        <% } %>
    </div>
</div>
<div class="mb-3">
    <a href="/budgets/<%=budget._id%>/edit" class="btn btn-sm btn-secondary">Edit</a>
    <form action="/budgets/<%=budget._id%>?_method=DELETE" method="POST" class="d-inline">
        <button class="btn btn-sm btn-danger">Delete</button>
    </form>
</div>

<script>
    let cells = [...document.querySelectorAll('.alt')]
    altRows = []
    for (let i = 0; i < cells.length; i++) {
        if (cells.indexOf(cells[i]) % 4 === 0) {
            row = cells.slice(i, i + 2)
            altRows.push(row)
        }
    }
    const alternate = () => {
        for (let row of altRows) {
            for (let cell of row) {
                cell.classList.remove('table-alt')
            }
        }
    }

    alternate()

</script>